<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/material.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>
    <%= title %>
  </title>
  <style media="screen">
    .content {
      height: 600px;
      overflow-y: auto;
    }

    .content h1 {
      margin-top: 60px;
    }

  </style>
</head>

<body>
  <% include ../layout/header.ejs %>
    <div class="content">
      <h1><%= title %></h1>
      <p>welcome to the backstage</p>
    </div>
    <% include ../layout/footer %>
</body>
<script src="/javascripts/material.min.js" charset="utf-8"></script>

</html>
